<div class="">
	<h1>Lista de Endereços</h1>
	<div ng:controller="AdressCtrl">
		<div class="row">
			<div class="col-lg-4 adress-list" ng:repeat="adress in addresses">
				<div class="pull-right"><a href ng:click="removeItem($index)"><span class="glyphicon glyphicon-trash form-control-feedback"></span></a></div>
				<div class="clearfix"></div>
				<div>
					<strong>Nome do Destinatário:</strong> {{adress.reciverName}}
				</div>
				<div>
					<strong>CEP:</strong> {{adress.postalCode}}
				</div>
				<div>
					<strong>Endedreço:</strong> {{adress.adress}}
				</div>
				<div>
					<strong>Número:</strong> {{adress.number}}
				</div>
				<div>
					<strong>Cidade:</strong> {{adress.city}}
				</div>
				<div>
					<strong>Estado:</strong> {{adress.state}}
				</div>
				<div>
					<strong>País:</strong> {{adress.country}}
				</div>
				<div>
					<strong>Tipo Endereço:</strong> {{adress.type}}
				</div>
			</div>
		</div>
	</div>
</div>

