<div class="">
	<h1>Lista de Pedidos</h1>
	<div ng:controller="OrderListCtrl">
		<table class="table table-striped">
			<thead>
				<tr>
				    <th></th>
				    <th>Produto</th>
				    <th>Quantidade</th>
				    <th>Valor</th>
				    <th>Valor total</th>
				</tr>
			</thead>
				<tbody>
					<tr ng:repeat="item in items">
						<td class="text-center"><img src="{{item.picture}}" alt="{{item.name}}" class="img-thumbnail"/></td>
						<td>{{item.name}}</td>
						<td><span>{{item.quantity}}</span></td>
						<td><span>{{item.price | currency}}</span></td>
						<td>{{item.quantity * item.price | currency}}</td>
					</tr>
				</tbody>

		</table>
	</div>
</div>

