<div class="">
	<h1>Dados pessoais</h1>
	<div ng:controller="ProfileCtrl">
		<div class="row">
			<div class="col-lg-12 adress-list" ng:repeat="profile in dataProfile">
				<div class="clearfix"></div>
				<div>
					<strong>Nome:</strong> {{profile.name}}
				</div>
				<div>
					<strong>Sexo:</strong> {{profile.genere}}
				</div>
				<div>
					<strong>Data de nascimento:</strong> {{profile['brith-date']}}
				</div>
				<div>
					<strong>E-mail:</strong> {{profile.email}}
				</div>
				<div>
					<strong>Telefone:</strong> {{profile.phone}}
				</div>
			</div>
		</div>
	</div>
</div>

